@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

.font-test-family {
  font-family: Chilanka;
}
h2{
color: #000;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 69px;
}
button{
padding: 10px 50px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid #FE3756;
background: #FE3756;
color: #FFF;
text-align: center;
font-family: Poppins, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 31px; /* 172.222% */
text-transform: uppercase;
letter-spacing: 1px;
}
