.savedinput {
  margin: 100px 50px;
  display: flex;
}

.savedinput label {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.savedinput input {
  width: 400px;
  overflow: hidden;
  margin-left: 20px;
}
.savedinput button {
  width: 140px;
  text-align: center;
  padding: 10px;
  margin-left: 80px;
}
.savedinput .list {
  border: 1px solid #c8cbd1;
  border-radius: 10px;
  min-height: 300px;
  width: 350px;
  margin-left: 100px;
}
.savedinput ul {
  list-style: none;
}
.savedinput li {
  position: relative;
  margin: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.savedinput li span {
  color: #fe3756;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
